body{
  @include inter();
  color:$body;
  font-size:18px;
  background-color:#f1f1f1;
}
h1, h2, h3, h4, h5, h6{
  @include inter();
}
h1{
  font-size:3em;
  line-height:1em;
  font-weight:600;

  span{
    font-weight:400;
  }
}
h2 {
  font-size: 1.25em;
  font-weight: 600;
  margin: 3em 0 1em 0;
}
strong{
  font-weight:600;
}
.navigation{
  font-size:1em;
  line-height:1em;
  font-weight:600;
  @include inter();
  background: transparent;

  .name{
    color:$body;      

    a{
      color:$body;
      border:none !important;
      opacity:1;      
      @include transition(all 0.2s ease-in-out);
      text-decoration: underline;
      &:hover, &:active{
        border:none !important;
        color:$blue;
      }      
    }
    span{
      color:$grey;
    }
  }
  .nav-linx{
    a {
      display:initial;
      font-size:inherit;
      line-height:inherit;
      color:$body;
      text-decoration:none;
      border-width: 3px;
      border-style: outset;
      border-color: $blue;
      padding:6px 9px;
      &:hover{
        border-color: $blue;
        color:$blue;
        border-style:inset;
      }
    }
    a.active{
      color: $white;
      border-color: $blue;
      border-style: outset;
      background-color: $blue;
      &:hover{
        border-style:inset;
      }
    }
  }
}
footer{
  background: #ffffff;

  #footer-work, #footer-about{
    color:$body;
    border-bottom:2px solid transparent;
    padding-bottom:4px;
    text-decoration: none;
    
  }
  #footer-work.active, #footer-about.active{
    color:$body;
    border-color:$body;
    &:hover{
      color:$blue;
      border-color:$blue;
    }
  }
}
a{
  @include transition(all 0.2s ease-in-out);
  color: $body;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: $blue;
  text-decoration-thickness: 2px;

  &:hover{
    color: $blue;
  }
  &:link, &:visited, &:active {

  }
}

.modal{

  button.close{
    position:fixed;
    top:30px;
    right:30px;
    text-align:center;
    font-size:2em;
    color:$white;
    opacity:0.7;
    @include transition(all 0.2s ease-in-out);
    &:hover{
      color:$white;
      opacity:1;
    }
  }
}
.modal-dialog{
  width:55%;
  margin-left:auto;
  margin-right:auto;
  @include transition(opacity 0.2s ease-in-out);
}
.modal-backdrop{
  background-color:$green !important;
  opacity:0.7 !important;
}
.modal.fade, .modal.in, .modal.out{
  @include transform(none !important);


  .modal-dialog{
    @include transform(none !important);
  }
}
// BOOTSTRAP OVERRIDES
.badge {
  font-weight: 400;
 }
 .table {
    td, th {
      background: transparent;
    }
 }
// INDEX
p{
  a{
    
    &:hover, &:active{
      
    }
  }

}
.attribution{
  a{
    color:$grey-c1;
    border-bottom:1px solid $grey-c1;
 
    padding-bottom:3px;
    &:hover, &:active{
      color:$green;
      border-color: $green;
    }
  }
}
.row-index{
  border-top: 0; 
}
// ABOUT
.moi{
  margin-top:0;
}
.about-linx{
  a{
    
    @include transition(all 0.2s ease-in-out);
    &:hover{
      
    }
  }
}
.discogs-wrap{
  color:$green;
}
.discogs-table{
  min-height:200px;
  margin-bottom:30px;
  font-size:0.8em;
  letter-spacing:0.04em;

  #discogs-collection{

    .discogs-spinner{
      position:relative;
      top:10px;
      left:10px;
      display:block;

      td{
        border:none;
        text-align:center;
        height:100px;
      }
    }
    .discogs-error{
      color:$body !important;
    }
    tr{
      td{
      }

      @include transition(all 0.2s ease-in-out);
      &:hover{
        cursor: pointer;
        color:$body;
        background:$offwhite;
      }
    }
  }
}
// WORK
a.prev, a.next{
  color:$grey-c1;
  padding-bottom:4px;
  &:hover{
    color:$green;
  }
}
/* CSS3 FADEIN */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
.fade-in {
  -webkit-animation:fadeIn ease-in 0.5s;
  -moz-animation:fadeIn ease-in 0.5s;
  -o-animation: fadeIn ease-in 0.5s; /* Opera */
  animation:fadeIn ease-in 0.5s;
}
/* etc */
.margin-bottom-15{margin-bottom:15px;}
.margin-bottom-30{margin-bottom:30px;}
.margin-bottom-60{margin-bottom:60px;}
// Text helpers
.text-green{color:$green !important;}
.text-grey{
  color:$grey !important;
  a{
    color:$grey;
   
    &:hover{
      color:$green;
      border-color:$green;
    }
  }
}
/* MOBILE */
@media screen and (max-width: 550px){
  nav{
    display:inline-block;
    padding-bottom:30px;

    ul{

      li{
        display:block;
        width:50%;
        text-align:center;
        margin-left:auto;
        margin-right:auto;

      }
      li.name{
        width:100%;
        margin-bottom:30px;
      }
    }
  }

  .modal{

    button.close{
    top:15px !important;
    right:20px !important;
    }
  }
  .carousel-control{
    font-size:3.5em !important;
  }
}
@media screen and (max-width: 576px){
	.no-gutters-xs{
    padding:0;
  }
  .moi{
    @include border-radius(0 !important);
    width:100%;
  }
}
@media screen and (max-width: 767px){
	.moi{
    margin-top:0;
  }
}
@media screen and (min-width: 768px) and (max-width: 989px) {

}
@media screen and (max-width: 990px) {
 .moi{
   margin-top:0;
 }
}
// Bootstrap override & extension
.container{
  max-width: 1000px;
}
.border-grey{
  border-color:$grey-e8;
}
