body{
  font-family:'Lato', 'Helvetica Neue', Helvetica, arial, verdana, sans-serif;
  color:$green;
}
.body-copy{
  color:$body;
}
nav{
  padding:60px 40px 60px 30px;

  ul{
    list-style:none;
    margin:0;
    padding:0;
    text-align:left;

    li.name{
      color:$body;
      margin-left:0 !important;

      a{
        border:none !important;
        opacity:1;
        @include transition(all 0.2s ease-in-out);
        &:hover, &:active{
          border:none !important;
          opacity:0.6;
          color:inherit;
        }
      }

      span.title{
        color:$green;
      }
    }

    li{
      display:inline-block;
      margin-left:30px;

      a{
        color:$rose;
        text-decoration:none;
        border-bottom:3px solid transparent;
        padding-bottom:5px;

        &:hover{
          border-bottom:3px solid $green;
          color:$green;
        }
      }
      a.active{
        color:$rose;
        border-bottom:3px solid $green;
      }
    }
  }
}
.www-stroke{
  border:1px solid $grey-two;
}
a{
  @include transition(all 0.2s ease-in-out);
  text-decoration:none;
  &:hover, &:link, &:visited, &:active{
    text-decoration:none;
  }
}
footer{
  padding-top:30px;
  padding-bottom:60px;

  ul{
    list-style:none;
    margin:0;
    padding:0;

    li{
    }
  }
}

/*WORK*/
/*.no-fouc #grid{
  display:none;
}*/
#grid[data-columns]::before{
  content: '3 .column.size-1of3';
}
#grid{

  .column { float: left; }
  .size-1of1 { width: 100%; }
  .size-1of2 { width: 50%; }
  .size-1of3 { width: 33.333%; }
  .portfolio-item{
    padding:30px;
    @include transition(all 0.5s ease-in-out);

    img{
      max-width:100%;
      @include box-shadow(none);
      margin-bottom:15px;
      border:1px solid $grey-two;
      border-bottom:1px solid $grey;
      @include transition(all 0.5s ease-in-out);
      &:hover{
        @include box-shadow(-5px 5px 0  $green);
        border:1px solid $green;
        cursor:pointer;
      }
    }
  }
}
.modal{
  
  button.close{
    position:fixed;
    top:30px;
    right:30px;
    text-align:center;
    font-size:2em;
    color:$white;
    opacity:0.7;
    @include transition(all 0.2s ease-in-out);
    &:hover{
      color:$white;
      opacity:1;
    }
  }
}
.modal-dialog{
  width:55%;
  margin-left:auto;
  margin-right:auto;
  @include transition(opacity 0.2s ease-in-out);
}
.modal-backdrop{
  background-color:$green !important;
  opacity:0.7 !important;
}
.modal.fade, .modal.in, .modal.out{
  @include transform(none !important);


  .modal-dialog{
    @include transform(none !important);
  }
}
/* Bootstrap Carousel Fade Transition (for Bootstrap 3.3.x) */
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}
/* Need to override the 3.3 new styles for modern browsers & apply opacity */
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}
/* end carousel fade hack */
.carousel-inner{
  color:$body;
  font-weight:400;
  text-align:center;
  font-size:2em;

  .item{

    img{
      margin-left:auto;
      margin-right:auto;
      max-width:100%;
    }
  }
}
.carousel-control{
  font-size:6em;
  position:fixed !important;
  top:45%;
  height:50px !important;
  color:$white !important;
  text-align:auto;
  text-shadow:none;
  z-index:1000;
  opacity:0.7;
  @include transition(all 0.2s ease-in-out);
  &:hover, &:active, &:link, &visited{
    color:$rose;
  }
  &:hover{
    opacity:1;
  }
}
.left.carousel-control{
  background-image:none !important;
  left:0;
  &:hover{
    background-image:none !important;
  }
}
.right.carousel-control{
  background-image:none !important;
  right:0;
  &:hover{
    background-image:none !important;
  }
}
/*ABOUT*/
.collection-pill{
  padding:7px 8px;

  a{
    color:$green;
    &:hover{
      color:$rose;
    }
  }
}
.about-moi{
  display:table-cell;
  vertical-align:middle;
  position:relative;
  padding-top:30px;
  padding-bottom:30px;
}
.about-linx{
  list-style:none;
  margin:30px 0 ;
  padding:0;

  li{
    display:inline;
    margin:0 10px;

    a{
      border-bottom:1px solid $green;
      color:$green;
      padding-bottom:3px;
      @include transition(all 0.2s ease-in-out);
      &:hover{
        border-color:$body;
        color:$body;
      }
    }
  }
}
.discogs-wrap{
  padding-left:37px;
  padding-right:37px;
}
.discogs-table{
  min-height:200px;
  margin-bottom:30px;

  #discogs-collection{

    .discogs-spinner{
      position:absolute;
      top:120px;
      left:50%;
      margin-left:-29px;

      td{
        border:none;
        text-align:center;
      }
    }
    .discogs-error{
      color:$rose !important;
    }
    tr{

      @include transition(all 0.2s ease-in-out);
      &:hover{
        cursor: pointer;
        color:$rose;
        background:$offwhite;
      }
    }
  }
}
/* etc */
.margin-bottom-15{margin-bottom:15px;}
.margin-bottom-30{margin-bottom:30px;}
.margin-bottom-60{margin-bottom:60px;}
/* MOBILE */
@media screen and (max-width: 550px){
  nav{
    display:inline-block;
    padding-bottom:30px;

    ul{

      li{
        display:block;
        width:50%;
        text-align:center;
        margin-left:auto;
        margin-right:auto;

      }
      li.name{
        width:100%;
        margin-bottom:30px;
      }
    }
  }
  .collection-pill{
    text-align:center;
  }
  .modal{

    button.close{
    top:15px !important;
    right:20px !important;
    }
  }
  .carousel-control{
    font-size:3.5em !important;
  }
}
@media screen and (max-width: 767px){
	#grid[data-columns]::before {
		content: '1 .column.size-1of1';
	}
  .about-linx{
    text-align:center;
  }
}

@media screen and (min-width: 768px) and (max-width: 989px) {
	#grid[data-columns]::before {
		content: '2 .column.size-1of2';
	}
}
@media screen and (min-width: 990px) {
	#grid[data-columns]::before {
		content: '3 .column.size-1of3';
	}
}
