body{
  @include graphik-regular();
  color:$body;
  font-size:18px;
}
h1{
  font-size:2em;
  line-height:1em;
  @include graphik-semibold();
}
strong{
  @include graphik-semibold();
}
.navigation{
  font-size:2em;
  line-height:1em;
  @include graphik-semibold();

  .name{
    color:$body;
    margin-left:0 !important;

    a{
      color:$body;
      border:none !important;
      opacity:1;
      @include transition(all 0.2s ease-in-out);
      &:hover, &:active{
        border:none !important;
        opacity:0.6;
        color:inherit;
      }
    }
  }
  .nav-linx{
    a, a h1{
      display:initial;
      font-size:inherit;
      line-height:inherit;
      color:$body;
      text-decoration:none;
      border-bottom:3px solid transparent;
      padding-bottom:5px;
      &:hover{
        border-bottom:3px solid $green;
        color:$body;
      }
    }
    a.active{
      color:$green;
      border-bottom:3px solid $green;
    }
    a.active h1{
      color:$green;
    }
  }
}
footer{

  #footer-work, #footer-about{
    color:$body;
    @include graphik-semibold();
    border-bottom:2px solid transparent;
    padding-bottom:4px;

    &:hover{
      color:$body;
      border-color:$green;
    }
  }
  #footer-work.active, #footer-about.active{
    color:$green;
    border-color:$green;

    &:hover{
      color:$body;
      border-color:$green;
    }
  }
}
a{
  @include transition(all 0.2s ease-in-out);
  text-decoration:none;
  &:hover, &:link, &:visited, &:active{
    text-decoration:none;
  }
}

.modal{

  button.close{
    position:fixed;
    top:30px;
    right:30px;
    text-align:center;
    font-size:2em;
    color:$white;
    opacity:0.7;
    @include transition(all 0.2s ease-in-out);
    &:hover{
      color:$white;
      opacity:1;
    }
  }
}
.modal-dialog{
  width:55%;
  margin-left:auto;
  margin-right:auto;
  @include transition(opacity 0.2s ease-in-out);
}
.modal-backdrop{
  background-color:$green !important;
  opacity:0.7 !important;
}
.modal.fade, .modal.in, .modal.out{
  @include transform(none !important);


  .modal-dialog{
    @include transform(none !important);
  }
}
.attribution{
  display:block;
  color:$grey-c1;
  margin-top:3px;

  a{

    &:hover, &:link, &:visited, &:active{
      color:$grey-c1;
      border-bottom:1px solid $grey-c1;
      text-decoration:none;
    }
  }
}
.attribution-modal{
  font-size:1em !important;
  margin-top:15px;
  color:$white;
  text-align:left !important;

  .video-by{
    display:block;
  }

  a{
    &:hover, &:link, &:visited, &:active{
      color:$white !important;
      border-bottom:1px solid $white;
      text-decoration:none;
    }
  }
}
/*ABOUT*/
.collection-pill{
  padding:7px 8px;

  a{
    color:$green;
    &:hover{
      color:$body;
    }
  }
}
.about-linx{
  list-style:none;
  margin:30px 0 ;
  padding:0;

  li{
    display:inline;
    margin:0 10px 0 0;

    a{
      border-bottom:1px solid $body;
      color:$body;
      padding-bottom:3px;
      @include transition(all 0.2s ease-in-out);
      &:hover{
        border-color:$green;
        color:$green;
      }
    }
  }
}
.discogs-wrap{
  color:$green;
}
.discogs-table{
  min-height:200px;
  margin-bottom:30px;
  font-size:0.8em;
  letter-spacing:0.04em;

  #discogs-collection{

    .discogs-spinner{
      position:relative;
      top:10px;
      left:10px;
      display:block;

      td{
        border:none;
        text-align:center;
        height:100px;
      }
    }
    .discogs-error{
      color:$body !important;
    }
    tr{
      td{
      }

      @include transition(all 0.2s ease-in-out);
      &:hover{
        cursor: pointer;
        color:$body;
        background:$offwhite;
      }
    }
  }
}
/* CSS3 FADEIN */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
.fade-in {
  -webkit-animation:fadeIn ease-in 0.5s;
  -moz-animation:fadeIn ease-in 0.5s;
  -o-animation: fadeIn ease-in 0.5s; /* Opera */
  animation:fadeIn ease-in 0.5s;
}
/* etc */
.margin-bottom-15{margin-bottom:15px;}
.margin-bottom-30{margin-bottom:30px;}
.margin-bottom-60{margin-bottom:60px;}
// Text helpers
.text-green{color:$green !important;}
.text-grey{color:$grey-c1 !important;}
/* MOBILE */
@media screen and (max-width: 550px){
  nav{
    display:inline-block;
    padding-bottom:30px;

    ul{

      li{
        display:block;
        width:50%;
        text-align:center;
        margin-left:auto;
        margin-right:auto;

      }
      li.name{
        width:100%;
        margin-bottom:30px;
      }
    }
  }

  .modal{

    button.close{
    top:15px !important;
    right:20px !important;
    }
  }
  .carousel-control{
    font-size:3.5em !important;
  }
}
@media screen and (max-width: 767px){
	#grid[data-columns]::before {
		content: '1 .column.size-1of1';
	}
}
@media screen and (min-width: 768px) and (max-width: 989px) {
	#grid[data-columns]::before {
		content: '2 .column.size-1of2';
	}
}
@media screen and (min-width: 990px) {
	#grid[data-columns]::before {
		content: '3 .column.size-1of3';
	}
}
// Bootstrap override & extension
.border-grey{
  border-color:$grey-e8;
}
/*.card-columns {
  @include media-breakpoint-only(md) {
    column-count: 3;
  }
  @include media-breakpoint-only(lg) {
    column-count: 3;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}*/
