body{
  font-family:'Lato', 'Helvetica Neue', Helvetica, arial, verdana, sans-serif;
  color:$green;
}
nav{
  padding-top:30px;
  padding-bottom:30px;

  ul{
    list-style:none;
    margin:0;
    padding:0;

    li{
      display:inline-block;
      margin-right:30px;
    }
  }
}
footer{
  padding-top:30px;
  padding-bottom:30px;

  ul{
    list-style:none;
    margin:0;
    padding:0;

    li{

    }
  }
}
/*WORK*/
#grid[data-columns]::before{
  content: '3 .column.size-1of3';
}

#grid{
  .column { float: left; }
  .size-1of3 { width: 33.333%; }
  .portfolio-item{
    padding:30px;
  }
}
/*ABOUT*/
.discogs-table{
  min-height:200px;

  #discogs-collection{

    .discogs-spinner{
      position:absolute;
      top:90px;
      left:50%;
      margin-left:-29px;

      td{
        border:none;
        text-align:center;
      }
    }
    .discogs-error{
      color:$rose !important;
    }
    tr{

      @include transition(all 0.2s ease-in-out);
      &:hover{
        cursor: pointer;
        color:$rose;
        background:$offwhite;
      }
    }
  }
}
