---
title: Work
layout: default
---
<div class="container">
  <div class="row">
    <div id="grid" data-columns>
      {% for post in site.posts %}
        <div class="portfolio-item">
          <img src="{{ post.img }}" class="img-responsive open-carousel" onClick="javascript:goToSlide({{ post.slide }});"/>
          <p><span class="body-copy">{{ post.title }}</span><br />
          {{ post.excerpt }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
<div class="modal fade" id="portfolio-carousel" tabindex="-1" role="dialog" aria-labelledby="portfolio-carousel">
  <div class="modal-dialog" role="document">
    <div id="work" class="carousel slide carousel-fade" data-ride="carousel" data-interval="false">
      <div class="carousel-inner" role="listbox">
        {% for post in site.posts %}
          <div class="item">
            <img src="{{ site.url }}{{ post.img }}" class="img-responsive open-carousel" />
            <a href="{{ post.url }}">{{ post.title }}</a>
            <p>{{ post.excerpt }}</p>
            {{ post.content }}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-eject"></i></span></button>
  <a class="left carousel-control" href="#work" role="button" data-slide="prev" title="Previous">
      <i class="fa fa-caret-left" aria-hidden="true"></i>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#work" role="button" data-slide="next" title="Next">
    <i class="fa fa-caret-right" aria-hidden="true"></i>
    <span class="sr-only">Next</span>
  </a>
</div>
<script type="text/javascript">
  $("#nav-work").addClass("active");
  $(".carousel-inner .item").first().addClass("active");
  $(".open-carousel").on("click", function() {
    $('#portfolio-carousel').modal('show');
  });
  function goToSlide(number) {
   $("#work").carousel(number);
  }
</script>
<script type="text/javascript" src="assets/javascript/salvattore.min.js"></script>
