<footer>
  <div class="container">
    <div class="row mt-2 mb-2 py-4 my-sm-4 py-sm-4">
      <div class="col-12 col-sm-6 col-md-8 order-2 order-sm-1">
          &copy; 2007 - {{ 'now' | date: "%Y" }}<br />
        <small class="text-grey">
          Version: 4.1<br />
          Font: Graphik | Commercial Type
        </small>
      </div>
      <div class="col-12 col-sm-6 col-md-4 order-1 order-sm-2 mb-4 pb-2 pb-sm-0 mb-sm-0 text-sm-right">
        <a id="footer-work" {% if page.nav == 'Work' %}class="active"{% endif %} href="/">Work</a>
        &nbsp;&nbsp;
        <a id="footer-about" {% if page.nav == 'About' %}class="active"{% endif %} href="/about/">About</a>
      </div>
    </div>
  </div>
</footer>
