<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <small>
          &copy; 2007 - {{ 'now' | date: "%Y" }}<br />
          build: 2.1<br />
          fonts: graphik | commercial type
        </small>
      </div>
      <div class="col-md-4">

      </div>
      <div class="col-md-4 text-right">
        <small>
          <a id="nav-about" {% if page.title == 'About' %}class="active"{% endif %} href="/about/">about</a>
          <a id="nav-work" {% if page.title == 'Work' %}class="active"{% endif %} href="/">work</a>
        </small>
      </div>
    </div>
  </div>
</footer>
