<div class="container">
  <div class="row mt-3 my-sm-4 py-sm-4 navigation">
    <div class="col-12 col-sm-6 col-md-6 col-lg-8 name">
      <a href="/">Drew<br />Gardner</a>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-4 my-3 pb-3 pb-sm-0 my-sm-0 text-left text-sm-right text-md-right text-lg-left  align-self-end nav-linx">
    {% comment %}
      {% if page.nav == 'Work' %}
        <a id="nav-work" class="active" href="/"><h1>work</h1></a>
      {% else %}
        <a id="nav-work"href="/">work</a>
      {% endif %}
      &nbsp;&nbsp;
      {% if page.nav == 'About' %}
        <a id="nav-about" class="active" href="/about/"><h1>about</h1></a>
      {% else %}
        <a id="nav-about" href="/about/">about</a>
      {% endif %}
    {% endcomment %}
    </div>
  </div>
</div>
