<div class="container">
  <div class="row my-4 pb-4 foo">


        <div class="col-8 name">
          <a href="/">Drew Gardner</a><br />
          <span class="title">Design &amp;<br />Front-End</span>
        </div>
        <div class="col-4 nav-linx">
          <a id="nav-work" {% if page.title == 'Work' %}class="active"{% endif %} href="/">work</a>
          <a id="nav-about" {% if page.title == 'About' %}class="active"{% endif %} href="/about/">about</a></li>
        </div>


  </div>
</div>
