<!DOCTYPE HTML>
<html>
  {% include head.html %}
  <body>
  {% comment %}
    {% if page.previous %}
      {% assign previous = page.previous %}
    {% else %}
      {% assign previous = site.posts[0] %}
    {% endif %}
    {% if page.next %}
      {% assign next = page.next %}
    {% else %}
      {% assign last lastPostIndex = site.posts | size | minus: 1 %}
      {% assign next = site.posts[lastPostIndex] %}
    {% endif %}
    {% endcomment %}
    {% include nav.html %}
    <div class="container">
      <div class="row my-4 pb-0 pb-lg-4">
        <div class="col-12 col-sm-12 col-md-12 col-lg-8">
          {% comment %}
          <div class="d-block d-lg-none mb-4">
            <a class="next d-inline-block pull-left" href="{{next.url}}"><i class="fa fa-caret-left" aria-hidden="true"></i> Prev</a>
            <a class="prev d-inline-block pull-right" href="{{previous.url}}">Next <i class="fa fa-caret-right" aria-hidden="true"></i></a>
          </div>
          <div class="clearfix d-lg-none">&nbsp;</div>
          {% if page.video != null %}
            <div class="embed-responsive embed-responsive-16by9 mb-4" id="play-matters">
              <iframe id="{{ page.video }}" class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/{{ page.video }}" frameborder="0" allowfullscreen></iframe>
            </div>
          {% else %}
            <img class="img-fluid {% if page.img-border-show == true %}border border-grey{% endif %}" src="{{ page.img }}" />
          {% endif %}
          {{ content }}
          {% endcomment %}
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-4 my-4 pt-4 pt-lg-0 my-lg-0">
          {% comment %}
          <div class="d-none d-lg-block mb-4">
            <a class="next" href="{{next.url}}"><i class="fa fa-caret-left" aria-hidden="true"></i> Prev</a>
            &nbsp;&nbsp;
            <a class="prev" href="{{previous.url}}">Next <i class="fa fa-caret-right" aria-hidden="true"></i></a>
          </div>
          {% if page.org != null %}
            <span class="d-block mb-2">{{ page.org }}</span>
          {% endif %}
          <h1>{{ page.title }}</h1>
          {% if page.tech %}
            <p>{{ page.tech }}</p>
          {% endif %}
          {% if page.summary %}
            <p class="mt-4">{{ page.summary }}</p>
          {% endif %}
          {% if page.attribution != null %}
            <span class="d-block attribution text-grey">{{ page.attribution }}</span>
          {% endif %}
          <div class="d-block d-lg-none mt-4 pt-4">
            <a class="next d-inline-block pull-left" href="{{next.url}}"><i class="fa fa-caret-left" aria-hidden="true"></i> Prev</a>
            <a class="prev d-inline-block pull-right" href="{{previous.url}}">Next <i class="fa fa-caret-right" aria-hidden="true"></i></a>
          </div>
          {% endcomment %}
        </div>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
