/* HYSTERICAL MAGNETISM!!! */

body{	
	font-family:georgia, times, serif;
	font-size:11px;
	font-weight:bold;
	color:#000;
	background:#555;
	background-image:url('../img/chalkboard.jpg');
}

/* MAIN ELEMENTS */

.palettes{
	width:100%;
	position:absolute;
	bottom:0;
	left:0;
	margin:0 0 15px 0;
}

.logo{
	position:absolute;
	top:15px;
	left:15px;
}

.trashcan{
	position:absolute;
	bottom:15px;
	right:15px;
	z-index:1200;
}

/* LOGIN BOX */

.login-nav{
	position:absolute;
	top:15px;
	right:15px;
}

.login-nav ul{
	margin:0;
	padding:0;
	list-style:none;
}

.login-nav ul li{
	height:16px;
	float:left;
	margin:0 0 0 10px;
	padding:0;	
	position:relative;
}

.login-nav ul li.sep{
	padding:0 0 0 10px;
	border-left:1px dotted #999;
}

.login-nav ul li a{
	
	height:16px;
	display:block;
	color:#fff;
	text-indent:-7000em;
	background-image:url('../img/icons-top.png');
	background-repeat:no-repeat;
}

.login-nav ul li a.new{	
	width:16px;
	background-position:0 0;
}

.login-nav ul li a.open{	
	width:16px;
	background-position:-16px 0;
}

.login-nav ul li a.save{	
	width:16px;
	background-position:-32px 0;
}

.login-nav ul li a.clear{	
	width:16px;
	background-position:-48px 0;
}

.login-nav ul li a.twitter{
	width:16px;
	background-position:-64px 0;
}

.login-nav ul li a.facebook{
	width:16px;
	background-position:-80px 0;
}

.login-nav ul li a.login{
	width:48px;
	background-position:-96px 0;
	position:relative;
	z-index:1500;
}

.login-nav ul li a.signup{
	width:56px;
	background-position:-160px 0;	
}

.login-nav ul li.or{
	width:16px;
	background:url('../img/icons-top.png');
	background-position:-144px 0;
}

.login-nav ul li a.logout{
	width:60px;
	background:url('../img/icons-top.png');
	background-position:-216px 0;
}

.login-nav ul li ul#login-submenu{
	width:200px;
	height:125px;
	background:#;
	background-image:url('../img/login-bg.png');
	background-repeat:no-repeat;
	color:#fff;
	position:absolute;
	top:-10px;
	right:-10px;
	margin:0;
	padding:20px 15px 15px 10px;
	list-style:none;
	z-index:1000;	
	display:none;
}

.login-nav ul li ul#login-submenu li{
	margin:0;
	padding:0;
}

.login-nav ul li:hover ul#login-submenu{ display:block; }

#login-form{
	width:180px;
	margin:0 10px 5px 9px;
	display:block;
}

#login-form label{
	width:180px;
	margin:0 0 3px 0;
	display:block;
	font-style:italic;
	font-weight:normal;
	letter-spacing:1px;
}

#login-form input{
	width:174px;
	border:1px solid #fff;
	padding:2px 3px 2px 3px;
	margin:0 0 10px 0;
	display:block;
	background:transparent;
	color:#fff;
	font-family:georgia, times, serif;
	letter-spacing:1px;
}

#login-form input.button-signing{
	width:52px;
	height:18px;
	padding:0;
	border:none;
	float:left;
}

#login-form input.submit-magnet{
	width:52px;
	margin:0 6px 6px 0;
	padding:2px 5px 2px 5px;
	background:#fff;
	color:#222;
	font-family:georgia, times, serif;
	font-weight:bold;
	border-right:1px solid #555;
	border-bottom:1px solid #555;
	border-left:1px solid #777;
	border-top:1px solid #777;
	float:left;
	box-shadow:1px 1px 2px #444;
	-moz-box-shadow:1px 1px 2px #444;
	-webkit-box-shadow:1px 1px 2px #444;
	cursor:pointer;
	letter-spacing:0;
}

.login-nav ul li ul#login-submenu li span.forgot{
	font-size:0.9em;
	color:#fff;
	margin:4px 8px 0 0;
	float:right;
	font-weight:normal;
	
}

.login-nav ul li ul#login-submenu li span.forgot a{
	text-decoration:none;
	border:none;
	background-image:none;
	text-indent:0;
}

.login-nav ul li ul#login-submenu li span.forgot a:link{color:#eee;}
.login-nav ul li ul#login-submenu li span.forgot a:visited{color:#eee;}
.login-nav ul li ul#login-submenu li span.forgot a:active{color:#eee;}
.login-nav ul li ul#login-submenu li span.forgot a:hover{color:#ccc;}


/* jQuery UI Tabs 1.8.11 */

.ui-tabs { position: relative; padding: .2em; zoom: 1; } /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */

.ui-tabs .ui-tabs-nav{
	width:700px;
	margin:0 0 0 0;
	padding:0 0 5px 0;
	border-bottom:;
	float:left;	
}

.ui-tabs .ui-tabs-nav li{
	list-style: none;
	float: left;
	position: relative;
	top:0;
	margin:0 8px 0 0;
	border-bottom: 0 !important;
	padding: 0;
	white-space: nowrap;
	width:16px;
	height:16px;
	color:#fff;
	text-indent:-7000em;	
}

.ui-tabs .ui-tabs-nav li a{
	text-decoration: none;
	color:#fff;
	width:16px;
	height:16px;
	display:block;
}

/*DEFAULT TAB*/
.ui-tabs .ui-tabs-nav li.ui-state-default{
	text-decoration:none;	
	background-image:url('../img/tab-words.png');
	background-position:-32px 0;
	
}

/*ACTIVE TAB*/
.ui-tabs .ui-tabs-nav li.ui-state-active{
	text-decoration: none; 
	color:#fff;	
	background-image:url('../img/tab-words.png');
	background-position:-16px 0;	
}

/*DISABLED TAB*/
.ui-tabs .ui-tabs-nav li.ui-state-disabled{
	float:right;
	color:#fff;
	margin-right:0;
	background-image:url('../img/tab-words.png');
	background-position:0 0;
	width:16px;
	height:16px;
	cursor:pointer;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected {	
	
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a {
	cursor: default;
}

.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a {cursor: pointer;} /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */

.ui-tabs .ui-tabs-panel { display: block; border-width: 0; padding: 0; background:; }

.ui-tabs .ui-tabs-hide { display: none !important; }

/* END jQuery UI Tabs 1.8.11 */

#word-box{
	width:700px;
	min-height:200px;
	margin:0 auto 0 auto;
}

ul.magnetic-words, ul.magnetic-pictures{
	width:670px;
	min-height:200px;
	margin:5px 0 0 0;
	padding:0;
	list-style:none;	
}

ul.magnetic-words li{
	margin:0 6px 6px 0;
	padding:2px 5px 2px 5px;
	background:#fff;
	border-right:1px solid #555;
	border-bottom:1px solid #555;
	border-left:1px solid #777;
	border-top:1px solid #777;
	float:left;
	box-shadow:1px 1px 2px #444;
	-moz-box-shadow:1px 1px 2px #444;
	-webkit-box-shadow:1px 1px 2px #444;
	display:inline;	
}

ul.magnetic-pictures li{
	margin:0 6px 6px 0;
	display:inline;
}
	
/* ETC */

#word-box li:hover{cursor:move}

.clear{
	clear:both;
}

h1{
	font-size:9em;
	font-weight:normal;
	margin:0;
	padding:0;
}